
@charset "utf-8";


.my_hansot_menu {position:relative; width:100%; margin-top:50px; }

.my_hansot_menu ul {margin:10px 0 0 -28px; }
.my_hansot_menu ul li {position:relative; display:inline-block; margin:30px 0 30px 27px;  width:270px; height:335px;  cursor: pointer; vertical-align: top;}


.my_hansot_menu ul li .my_item_img img{width:270px; height:230px;  position:relative; display:block;}
.my_hansot_menu ul li .my_item_text {font-size:18px; text-align:center; padding:30px 0 14px 0; font-weight:bold; background-color: #e4e2e2;}
.my_hansot_menu ul li .my_item_text .my_item_price {padding-top: 6px; color: #909090;-webkit-font-smoothing: antialiased;}



.my_hansot_menu ul li .my_item_text .my_item_price input[type="checkbox"] + label {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}
.my_hansot_menu ul li .my_item_text .my_item_price input[type="checkbox"]:checked + label {
	background-color: #666666;
}
.my_hansot_menu ul li .my_item_text .my_item_price input[type="checkbox"] {
	display: none;
}
.my_hansot_menu ul li .my_item_text input[type="text"]{
	
	margin-top:7px;
	font-size:15px;
	visibility:hidden;
	border: 3px solid #bcbcbc;
	 width: 50px;
	 height: 15px;
	
}

.my2 {
	
	box-sizing: border-box;
         padding-top: 75px;
         margin: 0;
    padding: 0;
    line-height: 120%;
    -webkit-font-smoothing: antialiased;
}
 .my2{
    background-color: inherit;
    border: 2px solid #373737;
    transition-duration: 0.3s;
    color: #373737;	
    display: block;
    margin: 0 auto;
    box-sizing: border-box;   
    padding: 20px 0;
    min-height: 60px;
    width: 170px;
    font-weight: bold;
    text-align: center;
}
body{
	     background-color:#eeecec;
} 

.logout_container{
	
	padding: 30px 0 30px 0;
    font-size: 18px;
    color:black;
    font-weight:bold;
    margin : 50px 200px 0 200px;
	
}
#my_container.my_sub_page {
	text-align:center;
    border-bottom: 2px solid;
    padding: 30px 0 30px 0;
    font-size: 20px;
    color:black;
    margin : 0 200px 50px 200px;
    box-sizing: border-box;
}

.my_container2{
	
	text-align:center;
	font-size: 23px;
	margin : 80px 350px 50px 350px;
	padding: 30px 0 30px 0;
	
}
table#my_table
{
    border-collapse:separate;
    border-spacing:0 5px;
}

	.my_container2 h3{
	display:inline-block;
	}
	.my_container2 #a1{
	
	font-size:23px;
	
	float:left;
	}
	.my_container2 #a2{
	float:right;
	}
	.my_container2 #h31{
	float:left;
	}
	.my_container2 #h32{
	float:center;
	}
	
	.my_container2 #h33{
	float:right;
	}
	h3:after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #373737;
    display: block;
    margin-top: 15px;

}

#logout{
	float:right;
	
}
.my_container3{
	text-align:center;
	font-size: 20px;
	margin : 0 300px 80px 300px;
	padding: 30px 0 30px 0;
	
}

.my_container3 h4{
	<!-- display:inline-block; -->
	
	}


	.my_container3 #h42{
	float:center;
		
 
  
	
	}
	
	.my_container3 #h43{
	float:center;
	}
	
.my_container4{
	text-align:center;
	font-size: 20px;
	margin : 30px 350px 30px 350px;
	padding: 30px 0 30px 0;
	}	

