@charset "utf-8";
/**************************** s:: 공통 *************************/
.content.area_footer .area_no_tit {background-color: #fff;}
.content.area_footer .area_no_list {background-color: #fff;}
.content.area_footer .customer_wrap {background-color: #fff;}
.content.area_footer .no_view_wrap {background-color: #fff;}
.content.area_footer .re_partners {background-color: #fff;}
.content.area_footer .incruit {background-color: #fff;}
/**************************** e:: 공통 *************************/

/*notice_list*/
.no_list_wrap dl.no_form {border-top:1px solid #eeecec; padding:25px 30px; box-sizing: border-box;}
dl.no_form {position:relative; width:100%; overflow: hidden;}
dl.no_form dt, dl.no_form dd {display:inline-block; vertical-align: top;}
dl.no_form dd {padding-left:26px;}
dl.no_form dt .form.text input {border:2px solid #373737;}
dl.no_form dd .btn_wrap .btn {display:inline-block;}
dl.no_form dd .btn_wrap .btn a {min-height:50px; padding:16px 0; box-sizing: border-box;}
dl.no_form dd.no_total {float:right; color:#909090; padding-top:18px;}
dl.no_form dt div.in_box a.se_box {display:none;}

.area_no_list {margin-top:60px; border-top:6px solid #373737; width:100%; box-sizing: border-box; position:relative;}
table.list_tb {width:100%; background-color: #fff;}
table.list_tb col.width_01 {width:94px;}
table.list_tb col.width_02 {width:auto;}
table.list_tb col.width_03 {width:140px;}
table.list_tb col.width_04 {width:144px;}

table.list_tb tr {border-top:1px solid #eeecec; height:80px;}
table.list_tb tr:first-child {border-top:0;}
table.list_tb tr:hover,
table.list_tb tr:active {background-color: #f9f9f9;}
table.list_tb td.td_01 {font-size:18px; color:#cfc6bc; font-family: Roboto; text-align:left; padding-left:30px;}
table.list_tb td.td_02 {text-align:left; padding-right:30px;}
.area_no_list td.td_link a.list_link {position:absolute; left:0; top:0; width:100%; height:80px; display:block; border:1px solid red;}
.area_no_list td.td_link a.list_link:hover {background-color: #f9f9f9; z-index: 9;}
table.list_tb td.td_02 p {position: relative; overflow: hidden; max-height: 17px; display:inline-block;}
table.list_tb td.td_02 p:after {content: '...'; position:absolute; right:0; bottom:0; width:20px; z-index: 1; }
table.list_tb td.td_02 p span.ell {position:relative; overflow:hidden; min-height:17px; display:inline-block; padding-right:20px; }
table.list_tb td.td_02 p span.ell:after {content: ''; position:absolute; right:-2px; bottom:0; width:22px; height:21px; background-color: #fff; z-index:3;}
table.list_tb tr:hover td.td_02 p span.ell:after,
table.list_tb tr:active td.td_02 p span.ell:after {content: ''; background-color: #f9f9f9;}
table.list_tb td.td_03, table.list_tb td.td_04 {position:relative; padding-left:27px; box-sizing: border-box;}
table.list_tb td.td_03:before {content: ''; width:16px; height:14px; background: url(../images/common/icon_notice.png) left top no-repeat; background-size:32px 14px; background-position:0 0; display:inline-block; position:absolute; left:0; top:33px;}
table.list_tb td.td_04:before {content: '';  width:16px; height:12px; background: url(../images/common/icon_notice.png) left top no-repeat; background-size:32px 12px;  background-position:-16px 0; display:inline-block; position:absolute; left:0; top:34px;}
table.list_tb td.td_04 {padding-right:30px;}

/*footer_info*/
.notice_info {margin-top:100px; width:100%; overflow:hidden; position:relative; box-sizing: border-box;}
.notice_info dl {float:left; width:31.5%; margin-left:2.5%; box-sizing: border-box; border-top:6px solid #373737; height:170px;}
.notice_info dl:first-child {margin-left:0;}
.notice_info dl dt {margin-top:25px; font-weight:bold; font-size:18px;}
.notice_info dl dd.call {margin-top:2px; font-size:36px; font-family: Roboto; font-weight:bold; color:#373737;}
.notice_info dl dd {margin-top:10px; color:#909090;line-height:150%;}


.notice_info dl dd div.info_detail {position: relative; width:100%; display:table;}
.notice_info dl dd div.info_detail p {display:table-cell; width:auto;}
.notice_info dl dd div.info_detail p.info_tit {width:100px;}
.notice_info dl dd div.info_detail p span {display:inline-block; text-align:right; padding-top:7px}
.notice_info dl dd div.info_detail p span:first-child {padding-top:0;}

/*notice_view*/
.area_no_tit .h2_tit a {display:block; position:relative; margin-left:23px;}
.area_no_tit .h2_tit a:before {content: ''; width:27px; height:24px; background: url(../images/common/icon_back.png) left top no-repeat; background-size: 27px 24px; margin:0 23px 0 -23px; display:inline-block;}
.notice_view {border-top:1px solid #eeecec; position:relative; width:100%; background-color: #fff; overflow: hidden; display:table; box-sizing: border-box;}
.notice_view .area_article, .notice_view .area_cont {display:table-cell; vertical-align: top;}
.notice_view .area_article {width:375px;}
.area_article .h3_tit {width:75%; font-weight:normal; line-height:160%; letter-spacing: -0.6px;}

.area_article .subject {margin-top:37px;}
.area_article .subject:before {content: ''; width:40px; height:4px; background-color: #373737; margin-bottom:15px; display:block;}
.area_article .subject span {display:block; color:#909090; position:relative;}
.area_article .subject span:before {content: ''; background: url(../images/common/icon_notice.png) 0 0 no-repeat; display:inline-block; margin:0 10px 0 0;}
.area_article .subject span.date:before {content: ''; width:16px; height:14px; background-size:32px 14px; margin-bottom:-1px;}
.area_article .subject span.hits {margin-top:8px;}
.area_article .subject span.hits:before {content: ''; width:16px; height:12px; background-size:32px 12px; background-position:-16px 0;}

.notice_view .area_cont {width:auto;}
.area_cont .view_txt img {max-width:100%; width:100%;}
.area_cont .view_txt p {margin-top:50px; font-size:16px; color:#777777; line-height:28px; font-weight:normal;}
.area_cont .view_txt p + p {margin-top:30px;}

.view_btn_wrap {margin-top:95px; position:relative; overflow: hidden; width:100%;}
.view_btn_wrap .view_list, .view_btn_wrap .np_btn_wrap {float:left;}
.view_btn_wrap .view_list .btn a:before {content: ''; width:14px; height:11px; background: url(../images/common/icon_list.png) left top no-repeat; display:inline-block; background-size:14px 11px; margin:0 6px 0 0;}
.view_btn_wrap .np_btn_wrap {width:70%; float:right;}

/*협업업체 등록*/
.re_partners {position:relative;}
.re_partners .customer_tit .space_wrap p {margin-top:30px; line-height:160%; color:#909090;}
.re_partners .step_wrap {position:relative; width:100%; display:table; margin-top:40px;}
.re_partners .step_wrap dl {position:relative; display:table-cell; width:33.33%; height:152px; text-align:left; border-left:20px solid #fff; padding:30px 20px 0 20px; box-sizing: border-box; background-image: url(../images/common/footer_bg.png); background-position:100% 100%; background-repeat: no-repeat;}
.re_partners .step_wrap dl:before {content: 'STEP'; color:#373737; opacity: 0.5; font-family:Roboto; font-weight:bold; position:absolute; right:40px; bottom:15px;}
.re_partners .step_wrap dl:after {content: '1'; color:#373737; font-size:36px; font-family:Roboto; position:absolute; right:10px; bottom:15px;}
.re_partners .step_wrap dl.step_01 {border-left:0; background-color: #f6f5f5;}
.re_partners .step_wrap dl.step_02 {background-color: #e8e4df;}
.re_partners .step_wrap dl.step_03 {background-color: #d9d1c9;}
.re_partners .step_wrap dl.step_02:after {content: ''; content: '2';}
.re_partners .step_wrap dl.step_03:after {content: ''; content: '3';}

.re_partners .step_wrap dl dt {font-size:18px;}
.re_partners .step_wrap dl dd {color:#909090; margin-top:5px;}

/*협력업체 > 작성자 정보, 회사정보*/
.re_partners .customer_form.division {position:relative; overflow: hidden;}
.re_partners .customer_form.division .in_box {width:48.5%; display:inline-block; vertical-align: bottom;}
.re_partners .customer_form.division .in_box:nth-child(even) {margin-right:2.2%;}
.re_partners .customer_form.division .in_box.full {width:100%; margin-right:0; display:block;}
.re_partners .customer_form.division .in_box.factory {margin-right:0;}
.re_partners .customer_form.division .in_box.found {vertical-align: top;}
.re_partners .customer_form.division .in_box.found dd {margin-top:25px;}
.re_partners .customer_sub .customer_form.division .in_box dd {width:100%;}
.re_partners .customer_sub .customer_form.division .in_box .form.text {width:100%;}
.re_partners .customer_sub .customer_form.division .in_box .form.text input {width:100%;}

.re_partners .customer_sub .customer_form.division .in_box.factory {display:block; width:100%;}
.re_partners .customer_sub .customer_form.division .in_box.factory span.form.text {width:48.5%; margin-left:2.2%;}
.re_partners .customer_sub .customer_form.division .in_box.factory span.form.text:nth-child(odd) {margin-left:0;}
.re_partners .customer_sub .customer_form.division .in_box.factory span.top {margin-top:10px;}
.re_partners .customer_sub .customer_form.division .in_box.worker {display:block;}
.re_partners .customer_sub .customer_form.division .in_box.worker span.form.text input {text-align:left;}
.re_partners .customer_sub .customer_form.division .in_box.worker .deposit_wrap span.form.text em.deposit:after {display:none;}

.re_partners .customer_sub .customer_form.division .in_box dd.radio_wrap span {display:table; width:100%;}
.re_partners .customer_sub .customer_form.division .in_box dd.radio_wrap span label {display:table-cell; width:33.3%;}
.re_partners .customer_sub .customer_form.division .in_box.haccp dd.radio_wrap {margin:26px 0 14px 0;}
.re_partners .customer_sub .customer_form.division .in_box.haccp dd.radio_wrap span {display:block;}
.re_partners .customer_sub .customer_form.division .in_box.haccp dd.radio_wrap span label {display:inline-block; width:auto; margin-right:50px;}

/*인재채용*/
.incruit_cont {position:relative; border-top:1px solid #eeecec; padding:100px 100px 60px 100px; box-sizing: border-box;}
.incruit_cont .talent_wrap {text-align:center;}
.incruit_cont .talent_wrap h3.h3_tit {font-weight:normal;}
.incruit_cont .talent_wrap h3 + p {padding-top:25px; color:#909090;}
.incruit_cont .talent_wrap .talent_list {position:relative; width:100%; height:590px; margin:70px auto 0 auto; background: url(../images/footer/incruit_bg.png) center 70px no-repeat;}
.incruit_cont .talent_wrap .talent_list ul li {position:absolute;}
.incruit_cont .talent_wrap .talent_list ul li.ta_list_01 {left:50%; margin-left:-70px;}
.incruit_cont .talent_wrap .talent_list ul li.ta_list_02 {left:50%; top:233px; margin-left:245px;}
.incruit_cont .talent_wrap .talent_list ul li.ta_list_03 {left:50%; bottom:20px; margin-left:120px; text-align:left;}
.incruit_cont .talent_wrap .talent_list ul li.ta_list_04 {left:50%; bottom:20px; margin-left:-330px; text-align:right;}
.incruit_cont .talent_wrap .talent_list ul li.ta_list_05 {left:50%; top:233px; margin-left:-396px; text-align:right;}

.incruit_cont .talent_wrap .talent_list ul li p.tit strong {font-family: 'Roboto'; font-weight:normal; color:#f2c000; letter-spacing:1px; display:inline-block;}
.incruit_cont .talent_wrap .talent_list ul li p.txt {color:#c3c1c1; padding-top:6px;}
.incruit_cont .talent_wrap .talent_list ul li p.txt span:first-child {padding-bottom:10px;}

.incruit_cont .talent_wrap .talent_list ul.keypoint li.ta_list_01 {margin-left:-70px;}
.incruit_cont .talent_wrap .talent_list ul.keypoint li.ta_list_02 {margin-left:235px;}
.incruit_cont .talent_wrap .talent_list ul.keypoint li.ta_list_03 {margin-left:120px;  bottom:40px;}
.incruit_cont .talent_wrap .talent_list ul.keypoint li.ta_list_04 {margin-left:-430px; bottom:40px;}
.incruit_cont .talent_wrap .talent_list ul.keypoint li.ta_list_05 {margin-left:-358px;}
.incruit_cont .talent_wrap .talent_list ul.keypoint li p.tit {line-height:25px;}
.incruit_cont .talent_wrap .talent_list ul.keypoint li p.tit strong {font-family: 'NotoSans'; font-size:20px; text-align:left }

/*직급체계*/
.in_list {margin-top:100px; position:relative;}
.in_list.rank {margin-top:100px;}
.in_list.pay {margin-top:75px;}
.in_list h4 {position:relative;}
.in_list h4:before{content: ''; width: 4px; height: 24px; background-color: #373737; margin: 0 15px -3px 0; display: inline-block;}
.cont {margin-top:35px;}

.rank_info {position:relative; padding:50px 0; height:180px; box-sizing: border-box; background-color: #f3f0ee;}
.rank_info .rank_txt {width:605px; margin:0 auto; display:table;}
.rank_info .rank_txt dl {width:115px; display:table-cell; text-align:left;}
.rank_info .rank_txt dl dt {position:relative; font-weight:bold; z-index:2;}
.rank_info .rank_txt dl dt:after {content: ''; width:15px; height:15px; background: url(../images/footer/icon_rank.png) left top no-repeat; background-size:15px 15px; display:block; margin:15px 0 0 5px;}
.rank_info .rank_txt dl dd {position:relative; z-index:1; margin-top:15px; color:#909090;}
.rank_info .rank_txt dl dd:before {content: ''; width:100%; height:1px; background-color: #ddd; display:inline-block; position:absolute; left:0; top:-23px;}
.rank_info .rank_txt dl.last {width:auto;}
.rank_info .rank_txt dl.last dd:before {content: ''; width:20px;}
.rank_info .rank_txt dl.first dt:after {content: ''; margin:15px 0 0 5px; }
.rank_info .rank_txt dl.first dd:before {content: ''; margin-left:5px;}
.rank .cont p {color:#909090; line-height:160%;}
.rank .cont p.cont_first {margin-top:15px;}

/*복리후생*/
.welfare_wrap {padding-left:400px; position:relative;}
.welfare_wrap:before {content: ''; background: url(../images/footer/icon_welfare.png) left top no-repeat; display: inline-block; width: 240px; height: 250px; margin: 0 auto 30px auto; position:absolute; left:55px; top:58px;}
.welfare_wrap dl {position:relative; width:570px;}
.welfare_wrap dl dt {color:#5c5953; font-weight:bold; margin-bottom:25px;}
.welfare_wrap dl dd {position:relative; display:inline-block; width:48%; margin:0 0 18px 0;box-sizing: border-box; padding-left:20px; vertical-align: top;}
.welfare_wrap dl dd > span.s_block {padding-top:3px; margin-left:-2px;}
.welfare_wrap dl dd:nth-child(odd) {margin-left:45px; width:40%;}
.welfare_wrap dl dd:before {content: ''; display:inline-block; width:5px; height:2px; background-color: #f6ca00; margin:0 12px 0 -20px; vertical-align: middle}
.welfare_wrap dl.welfare_02 {margin-top:18px; padding-top:40px; border-top:1px solid #ddd;}

.pay_wrap {position:relative; text-align:center; padding-top:280px; background: url(../images/footer/pay_img.png) center top no-repeat; width:100%;}
.pay_wrap:before,
.pay_wrap:after {position:absolute; left:50%; top:111px; font-weight:bold; font-size:24px;}
.pay_wrap:before {content: '연봉제';  color:#5c5953; margin-left:-133px;}
.pay_wrap:after {content: '성과급제'; color:#fff; margin-left:62px;}
.pay_wrap p {line-height:160%;}

/*채용절차*/
.employ_wrap {position:relative;}
.employ_wrap dl dt {font-weight:bold; color:#5c5953;}
.employ_wrap dl dd {position:relative; margin-top:30px;}
.employ_wrap dl dd span {width:130px; display:inline-block; text-align:center; margin: 17px 0 0 36px; box-sizing: border-box; color:#909090; font-weight:bold;}
.employ_wrap dl dd span.last {width:120px; color:#f6ca00;}
.employ_wrap dl dd span:first-child {margin-left:0;}
.employ_wrap dl dd:before {content: ''; width:970px; height:130px; background: url(../images/footer/bg_employ.png) left top no-repeat; display:block;}
.employ_wrap dl.employ_02 {margin-top:50px;}
.employ_wrap dl.employ_02 dd {position:relative;}
.employ_wrap dl.employ_02 dd span {margin:17px 0 0 77px;}
.employ_wrap dl.employ_02 dd span.last {width:120px;     margin: 17px 0 0 80px;}
.employ_wrap dl.employ_02 dd span:first-child {margin-left:0;}
.employ_wrap dl.employ_02 dd:before {content: ''; width:970px; height:130px; background: url(../images/footer/bg_employ_02.png) left top no-repeat; display:block; }

.in_site_wrap {text-align:center; padding:50px 0 0 0; margin:160px 0 0 0; border-top:1px solid #ddd;}
.in_site_wrap .btn_wrap {margin-top:30px;}

dl.faq_form dd.no_total {float:right; color:#909090; padding-top:18px;}
dl.faq_form dt div.in_box a.se_box {display:none;}


/* media query */
@media all and (max-width:1153px){
    .notice_info dl dd span.s_block {display:inline;}
    /*협력업체 등록*/
    .re_partners .customer_cont .customer_tit {width:30%;}
    .re_partners .customer_info .pa_02 {padding-right:0;}
}

@media all and (max-width:1023px){
    /*	#container.sub_page.notice_bg {background-color: #fff; transition-duration: 0.3s;}*/
    /*title*/
    .no_list_wrap dl.no_form {padding:20px 15px;}
    dl.no_form dt {display:block;}
    dl.no_form dd {display:none;}
    dl.no_form dd.no_total {display:block; float:none; text-align:right; padding-top:13px;}
    dl.no_form dt div.in_box a.se_box {padding:0 10px 0 13px; display:block;}
    dl.no_form dt div.in_box a.se_box:after {content: ''; width:20px; height:20px; background: url(../images/common/icon_searchbox.png) left top no-repeat; background-size: 21px 21px; display:block; position:absolute; left:10px; top:-1px; margin-right:12px; }
    /*notice_list*/
    .area_no_list {margin-top:40px;}
    table.list_tb td {display:inline-block; width:100%;}
    table.list_tb td.no {display:none;}
    table.list_tb td.td_02 {padding:20px 15px 0 15px; box-sizing: border-box;}
    table.list_tb td.td_02 p {max-height: 42px;}
    table.list_tb td.td_02 p span {line-height:140%; word-break: break-all;}
    table.list_tb td.td_02 p span {min-height:42px;}
    table.list_tb td.td_03 {padding:5px 15px 20px 15px; color:#909090; font-size:13px;}
    table.list_tb td.td_03:before, table.list_tb td.td_04:before {display:none;}

    /*info*/
    .notice_info {margin-top:60px; padding:0 15px; box-sizing: border-box; width:100%; clear: both;}
    .notice_info dl {float:none; width:100%; margin-left:0; text-align:center;}
    .notice_info dl dt {font-size:15px; margin-top:20px;}
    .notice_info dl dd {font-size:13px; margin-top:12px; padding:0 25px;}
    .notice_info dl dd.call {font-size:24px; margin-top:5px;}
    .notice_info dl dd div.info_detail {display:block; text-align:center;}
    .notice_info dl dd div.info_detail p {display:block; width:100%; margin-top:5px;}
    .notice_info dl dd div.info_detail p.info_tit {display:block; width:100%;}
    .notice_info dl dd div.info_detail p span {display:block; width:100%; text-align:center; line-height:120%;}

    /*notice_view*/
    /*.area_no_tit .h2_tit a {margin-left:17px;}*/
    /*.area_no_tit .h2_tit a:before {content: ''; width:23px; height:20px; background: url(../images/common/icon_back.png) left -1px no-repeat; background-size: 23px 20px; margin:0 17px 0 -17px; display:inline-block;}*/

    .notice_view .area_article, .notice_view .area_cont {display:block;}
    .notice_view .area_article {width:100%;}
    .area_article .h3_tit {line-height:140%; width:100%;}
    .area_article .subject {margin-bottom:37px;}
    .area_article .subject span.hits {display:none;}
    .area_cont .view_txt p {margin-top:20px;}
    .area_cont .view_txt p + p {margin-top:25px;}
    .view_btn_wrap {margin-top:55px;}
    .view_btn_wrap span a em.mo_none {display:none;}
    .area_cont .view_btn_wrap .btn_wrap .btn a.c_01 {width:50px; height:50px; }
    .view_btn_wrap .view_list .btn a:before {content: ''; margin-right:0;}
    .np_btn_wrap .np_txt {display:none !important;}

    dl.faq_form dt div.in_box a.se_box {padding:0 10px 0 13px; display:block;}
    dl.faq_form dt div.in_box a.se_box:after {content: ''; width:20px; height:20px; background: url(../images/common/icon_searchbox.png) left top no-repeat; background-size: 21px 21px; display:block; position:absolute; left:10px; top:-1px; margin-right:12px;}

}

/*faq_list*/

@media all and (max-width:768px){
    #container.sub_page.notice_bg {background-color: #eeecec;}
}

.question_select {position:relative; float:left; width: 200px; margin-right:10px}

@media(max-width:1023px){
    .question_select {overflow:hidden; width:40%; margin-right:2px; display: inline-block !important;}
}

.question_search {position:relative; float:left; width:390px; vertical-align:top}
.question_select .select { width:100%}


@media(max-width:1023px){
    .question_select .select { width:100%}
}

@media(max-width:1023px){
    .question_search { width:57%;display: inline-block !important;}
}

.faq-btn { float:left}
@media(max-width:1023px){
    .faq-btn { display:none !important; }
}

.faq_form {
    border-top:1px solid #eeecec; padding:25px 30px; box-sizing: border-box;
    width:100%; position:relative
}

@media(max-width:1023px) {
    .faq_form {
        padding:25px 15px;
    }
}
@media(max-width:1023px) {
    .no_total {
        display:none !important;
    }
}
@media(max-width:1023px) {
    .btn_overlap.se_box {
        display: block;
        padding: 0 10px 0 0;
    }
    .btn_overlap.se_box:before {display:block;}
    .btn_overlap.se_box:after {content: '';width: 20px;height: 20px;background: url(../images/common/icon_searchbox.png) left top no-repeat;background-size: 21px 21px;display: block;position: absolute;left:0;top: -1px;margin-right: 12px;}
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto;
    }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden;  line-height: 22px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.autocomplete-wrapper {
    margin-top : 15px;
}
@media(max-width:1023px) {
    .autocomplete-wrapper {
        margin-top:15px;
        display:inline-block;
        width:100%
    }
}

/*
.search_store_btn .btn a{
    min-height: 0 !important;
    padding:15px 0 !important;
}

@media(max-width:1023px) {
    .shop_select {
        width:32% !important;
    }
}

@media(max-width:1023px) {
    .shop_select .btn_wrap {
        margin-left:15px;
    }
}
*/
