@charset "utf-8";
/**************************** s:: 공통 *************************/
.content.hansot .ontitle {background-color: #fff;}
.content.hansot .location .tab_cont {background-color: #fff;}
#container .content.hansot.full {max-width:inherit;}
/**************************** e:: 공통 *************************/
/*검색*/
.news_wrap dl.no_form {border-top:1px solid #eeecec; padding:25px 30px; box-sizing: border-box;}
dl.no_form {position:relative; width:100%; overflow: hidden;}
dl.no_form dt, dl.no_form dd {display:inline-block; vertical-align: top;}
dl.no_form dd {padding-left:26px;}
dl.no_form dt .form.text input {border:2px solid #373737;}
dl.no_form dd .btn_wrap .btn {display:inline-block;}
dl.no_form dd .btn_wrap .btn a {min-height:50px; padding:16px 0; box-sizing: border-box;}
dl.no_form dd.no_total {float:right; color:#909090; padding-top:18px;}
dl.no_form dt div.in_box a.se_box {display:none;}

/*news*/
.news_list_wrap {margin-top:60px; position:relative; }
.news_list_wrap ul li {position:relative; margin-top:20px;}
.news_list_wrap ul li:first-child {margin-top:0px;}

.news_list_wrap ul li div.news_list {position:relative; background-color: #fff; width:100%; overflow:hidden; height:290px;}
.news_list_wrap ul li div.news_list > div {float:left;}
.news_list_wrap ul li div.news_list > div.news_visual {width:470px; overflow: hidden;}
.news_list_wrap ul li div.news_list > div.news_txt {width:700px; height:290px; padding:40px 30px; box-sizing: border-box;}
.news_list_wrap ul li div.news_list > div.news_txt .news_div {position:relative;}
.news_list_wrap ul li div.news_list > div.news_txt .news_div:after {content: ''; width:14px; height:14px; background: url(../images/common/icon_go.png) left top no-repeat; background-size: 14px 14px; display:inline-block; position:relative; margin:0 0 -2px 5px;}
.news_list_wrap ul li div.news_list > div.news_visual img {width:100%; height:auto;}
.news_list_wrap ul li div.news_list > div.news_txt .news_div {color:#f2c000; font-weight:bold; display:block; margin-bottom:8px;}
.news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit {line-height:140%;  position: relative;
    overflow: hidden;
    max-height: 60px;
    display: inline-block;}
.news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit:after {content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    z-index: 1; }
.news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit a {position: relative;
    overflow: hidden;
    min-height: 60px;
    display: inline-block;
    padding-right: 15px;}
.news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit a:after {content: '';
    position: absolute;
    right: -2px;
    bottom: 0;
    width: 22px;
    height: 21px;
    background-color: #fff;
    z-index: 3;}
/*.news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit a:after {content: ''; background: url(../images/common/icon_go.png) 0 0 no-repeat; width:14px; height:14px; background-size: 14px 14px; display:inline-block; margin:-4px 0 0 5px;}*/
.news_list_wrap ul li div.news_list > div.news_txt .story_txt {margin-top:10px; color:#909090; line-height:150%; position: relative;
    overflow: hidden;
    max-height: 66px;
    display: block;}
.news_list_wrap ul li div.news_list > div.news_txt .story_txt:after {content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    z-index: 1; }
.news_list_wrap ul li div.news_list > div.news_txt .story_txt span {position: relative;
    overflow: hidden;
    min-height: 66px;
    display: block;
    padding-right: 20px;}
.news_list_wrap ul li div.news_list > div.news_txt .story_txt span:after {content: '';
    position: absolute;
    right: -2px;
    bottom: 0;
    width: 22px;
    height: 21px;
    background-color: #fff;
    z-index: 3;}
.news_list_wrap ul li div.news_list > div.news_txt .date {color:#b4b2b2; margin-top:18px;}
.content.hansot .btn_wrap.btn_more {margin-top:40px;}


/*사회공헌활동*/
.detail_wrap .so_sub_tit {margin-top:60px;}
.detail_wrap .so_sub_tit p span.s_block {line-height:35px; display:block;}
.detail_wrap .news_list_wrap .list_box {margin-top:77px;}
.detail_wrap .news_list_wrap .list_box:first-child {margin-top:0;}
.detail_wrap .news_list_wrap .list_box p.list_title {position:relative; font-size:24px; font-weight:bold; margin-bottom:30px; margin-left:15px;}
.detail_wrap .news_list_wrap .list_box p.list_title:before {content: ''; position:absolute; left:0; top:0; display:inline-block; width:4px; height:24px; background-color: #373737; margin:3px 0 -0 -15px;}
.detail_wrap .news_list_wrap .list_box p.list_title span.s_block {display:inline;}
.detail_wrap .news_list_wrap ul li div.news_list {height:230px;}
.detail_wrap .news_list_wrap ul li div.news_list > div.news_visual {width:370px; height:230px; box-sizing: border-box;}
.detail_wrap .news_list_wrap ul li div.news_list > div.news_txt { border-left:1px solid #eeecec; height:230px; padding:43px 30px 30px 30px; box-sizing: border-box;}
.detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap {position:relative;}
.detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap a {display:none;}
.detail_wrap .news_list_wrap ul li div.news_list > div.news_txt .story_txt {margin-top:16px; line-height:25px; max-height:100%;}
.detail_wrap .news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit:after {display:none;}
.detail_wrap .news_list_wrap ul li div.news_list > div.news_txt .story_txt:after {display:none;}


/*오시는 길*/
/*.traffic_wrap .area_map {width:1170px; height:500px;}*/
.area_map {position:relative; z-index: 1;}
.map_img {width:100%; position:relative;}
.map_img > .temp_map {width:100%;}
.marker {position:absolute; left:48.5%; top:45%;}

.traffic_wrap .map_info_wrap {position:relative; background-color: #fff; padding:63px 30px 100px 30px; display:table; width:100%; box-sizing: border-box;}
.traffic_wrap .map_info_wrap .map_tit_wrap,
.traffic_wrap .map_info_wrap .map_tr_wrap {display:table-cell; vertical-align: top;}
.traffic_wrap .map_info_wrap .map_tit_wrap {width:370px;}
.traffic_wrap .map_info_wrap .map_tit_wrap .map_address {position: relative; color:#909090; margin-top:25px;}
.traffic_wrap .map_info_wrap .map_tit_wrap .map_address:after {content: ''; position:absolute; width:40px; height:4px; background-color: #373737; display:block; margin-top:33px;}
.traffic_wrap .map_info_wrap .map_tit_wrap .map_address span.call {padding-top:8px;}
.traffic_wrap .map_info_wrap .map_tr_wrap {width:auto;}

.map_tr_wrap {padding-top:4px;}
.map_tr_wrap .tr_sub, .map_tr_wrap .tr_bus {position: relative; margin-left:120px;}
.map_tr_wrap .tr_sub:before, .map_tr_wrap .tr_bus:before {content: ''; position:absolute; left:0; top:0; margin:0 0 0 -120px; width:90px; height:90px; background: url(../images/common/icon_tr.png) left top no-repeat; background-size:180px 90px; display:inline-block;}
.map_tr_wrap .tr_bus:before {content: ''; background-position: -90px 0;}
.map_tr_wrap .tr_bus {margin-top:60px;}
.map_tr_wrap h4 {color:#f2c000; padding-top:10px;}
.map_tr_wrap dl {padding-top:14px; position:relative; overflow: hidden;}
.map_tr_wrap dt, .map_tr_wrap dd {padding-top:10px; float:left;}
.map_tr_wrap dt {font-weight: bold; padding-right:15px; clear: both;}
.map_tr_wrap dd {color:#909090;}

/*한솥의 약속*/
.promise_visual {overflow: hidden; position: relative; height: 750px; width: 100%; z-index: 1;}
.promise_visual .visual_bg {background: url(../images/hansot/promise_visual_01.jpg) 50% 50% no-repeat; background-size: cover; height: 750px;}
.promise .bs_wrap {position:relative; width:100%;}
.promise .bs_wrap .bs_cont {max-width:1170px; margin:0 auto; width:100%;}

/*한솥의 약속, 비전*/
.hansot .menu_tit {margin:0 auto; padding-bottom:13px; width:1170px; font-weight:bold; color:#a99e92; font-size:20px;}

/*한솥의 약속 > section01*/
#container.sub_page.bg {background: #fff;}
.promise .section_01 {background-color: #e2ddd7; height:400px; padding:80px 0 100px 0; box-sizing: border-box;}
.promise .section_01 .bs_cont {display:table; width:100%;}
.promise .section_01 h2.h2_tit {font-weight:normal; width:570px; font-size:46px;}
.promise .section_01 h2.h2_tit, .section_01 .bs_txt {display:table-cell; vertical-align: top;}
.promise .section_01 .bs_cont .bs_txt {width:600px; word-break: keep-all;}
.promise .section_01 .bs_cont .bs_txt p {margin-top:17px; line-height:27px; font-size:17px;}
.promise .section_01 .bs_cont .bs_txt p:first-child {margin-top:0;}
.promise .section_01 .bs_cont .bs_txt p span.s_block {display:inline;}

/*한솥의 약속 > section02*/
.promise .section_02 .bs_txt_wrap {position:relative; display:table; width:100%; padding:123px 0 25px 0;}
.promise .section_02 .bs_txt_wrap h3.h3_tit {width:400px; font-weight:800; padding-bottom:56px;}
.promise .section_02 .bs_txt_wrap h3.h3_tit:after {content: ''; display:block; width:40px; height:4px; background-color: #373737; margin-top:36px;}
.promise .section_02 .bs_txt {position:relative;}
.promise .section_02 .bs_txt ul {overflow: hidden; counter-reset: promise_list;}
.promise .section_02 .bs_txt ul li {position: relative; float:left; width:570px; height:210px;display:block; padding:40px 40px 40px 200px; box-sizing: border-box; background-color: #eeecec; margin-top:30px;}
.promise .section_02 .bs_txt ul li:before {content: ''; display:inline-block; width:130px; height:130px; background: url(../images/hansot/icon_promise.png) left top no-repeat; background-size: 650px 130px; position:absolute; left:40px; top:40px;}
.promise .section_02 .bs_txt ul li.pr_list02:before {background-position:-130px 0;}
.promise .section_02 .bs_txt ul li.pr_list03:before {background-position:-260px 0;}
.promise .section_02 .bs_txt ul li.pr_list04:before {background-position:-390px 0;}
.promise .section_02 .bs_txt ul li.pr_list05:before {background-position:-520px 0;}
.promise .section_02 .bs_txt ul li:after {content: ''; width:20px; height:20px; position:absolute; right:0; bottom:0; background: url(../images/hansot/bg_list.jpg) left top no-repeat;
    display: inline-block;}

.promise .section_02 .bs_txt ul li:nth-child(odd) {margin-right:30px;}
.promise .section_02 .bs_txt ul li.pr_list01,
.promise .section_02 .bs_txt ul li.pr_list02 {margin-top:0;}

/*.promise .section_02 .bs_txt ul li:before {content: ''; position:absolute; top:0; left:5px; width:90px; height:90px; border-radius: 70px; background-color: #ece8e4; display:block;}
.promise .section_02 .bs_txt ul li:after {content: "0"counter(promise_list); counter-increment: promise_list; font-family: Roboto; font-size: 50px; color: #5c5953; width:100%; height:100px; position:absolute; left:0px; top:43px;}*/

.promise .section_02 .bs_txt ul li h4 {font-size:20px;}
.promise .section_02 .bs_txt ul li h4 span.s_block {display:inline;}
.promise .section_02 .bs_txt ul li h4, .promise .section_02 .bs_txt ul li p {margin-left:2px; padding-top:5px;}
.promise .section_02 .bs_txt ul li h3.h3_tit {font-weight:bold;}
.promise .section_02 .bs_txt ul li > p {padding-top:18px; color:#909090; line-height:25px; font-size:17px; word-break: keep-all;}

/*수상*/
.award_list_wrap {position:relative; margin-top:60px; width:100%;}
.award_list_wrap .year_wrap.y_2016 {margin-top:76px;}
.award_list_wrap .year_wrap.y_2017 {margin-top:76px;}
.award_list_wrap .year_wrap h3.h3_tit {position:relative; font-weight: bold;}
.award_list_wrap .year_wrap h3.h3_tit:before {content: ''; width:4px; height:24px; background-color: #373737; margin:0 15px -4px 0; display:inline-block;}
.award_list_wrap ul {margin:30px 0 0 -30px; overflow: hidden;}
.award_list_wrap ul li {position:relative; float:left; display:table; margin: 30px 0 0 30px; width:370px; height:340px; background-color: #fff; box-sizing: border-box; background: url(../images/hansot/bg_award_list.png) left top no-repeat; background-size:100%;}
.award_list_wrap ul li:nth-child(1),
.award_list_wrap ul li:nth-child(2),
.award_list_wrap ul li:nth-child(3) {margin-top:0;}
.award_list_wrap ul li div {width:100%; height:100%; display:table-cell; vertical-align: middle; position:relative; text-align:center; box-sizing: border-box;}
.award_list_wrap ul li div:before {content: ''; display:block; margin:0 auto;}

/*수상_2018*/
.award_list_wrap .year_wrap ul li.award_12 div:before {content: ''; width:120px; height:120px; background: url(../images/hansot/img_award_12.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_13 div:before {content: ''; width:113px; height:120px; background: url(../images/hansot/img_award_13.png) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_14 div:before {content: ''; width:112px; height:120px; background: url(../images/hansot/img_award_14.png) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_15 div:before {content: ''; width:91px; height:120px; background: url(../images/hansot/img_award_15.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_16 div:before {content: ''; width:120px; height:120px; background: url(../images/hansot/img_award_16.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_17 div:before {content: ''; width:120px; height:120px; background: url(../images/hansot/img_award_17.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_18 div:before {content: ''; width:120px; height:120px; background: url(../images/hansot/img_award_18.jpg) left top no-repeat;}

/*수상_2017*/
.award_list_wrap .year_wrap ul li.award_01 div:before {content: ''; width:120px; height:120px; background: url(../images/hansot/img_award_01.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_02 div:before {content: ''; width:92px; height:120px; background: url(../images/hansot/img_award_02.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_03 div:before {content: ''; width:123px; height:120px; background: url(../images/hansot/img_award_03.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_04 div:before {content: ''; width:137px; height:120px; background: url(../images/hansot/img_award_04.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_05 div:before {content: ''; width:112px; height:120px; background: url(../images/hansot/img_award_05.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_06 div:before {content: ''; width:120px; height:120px; background: url(../images/hansot/img_award_06.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_07 div:before {content: ''; width:130px; height:120px; background: url(../images/hansot/img_award_07.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_08 div:before {content: ''; width:200px; height:120px; background: url(../images/hansot/img_award_08.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_09 div:before {content: ''; width:137px; height:120px; background: url(../images/hansot/img_award_09.jpg) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_10 div:before {content: ''; width:200px; height:120px; background: url(../images/hansot/img_award_11.png) left top no-repeat;}
.award_list_wrap .year_wrap ul li.award_11 div:before {content: ''; width:200px; height:120px; background: url(../images/hansot/img_award_10.png) left top no-repeat;}

/*수상_2016*/
.award_list_wrap .year_wrap.y_2016 ul li.award_01 div:before {content: ''; background: url(../images/hansot/img_award_01_02.jpg) left top no-repeat;}
.award_list_wrap .year_wrap.y_2016 ul li.award_02 div:before {content: ''; background: url(../images/hansot/img_award_02_02.jpg) left top no-repeat;}
.award_list_wrap .year_wrap.y_2016 ul li.award_03 div:before {content: ''; background: url(../images/hansot/img_award_03_02.jpg) left top no-repeat;}
.award_list_wrap .year_wrap.y_2016 ul li.award_04 div:before {content: ''; background: url(../images/hansot/img_award_04_02.jpg) left top no-repeat;}
.award_list_wrap .year_wrap.y_2016 ul li.award_05 div:before {content: ''; background: url(../images/hansot/img_award_05_02.jpg) left top no-repeat;}
.award_list_wrap .year_wrap.y_2016 ul li.award_06 div:before {content: ''; background: url(../images/hansot/img_award_06_02.jpg) left top no-repeat;}
.award_list_wrap .year_wrap.y_2016 ul li.award_08 div:before {content: ''; width:175px;background: url(../images/hansot/img_award_08_02.jpg) left top no-repeat;}

.award_list_wrap .year_wrap ul li div p:first-child {padding-top:25px;}
.award_list_wrap .year_wrap ul li div p.fz_02 {font-weight:800; padding-top:8px;}
.award_list_wrap .year_wrap ul li div span {padding-top:15px; color:#f2c000; font-weight:bold; display:block;}

/*연혁*/
.history_wrap {background-color: #fff;}
.history_wrap .ontitle {border-bottom:1px solid #ece8e4;}
.history_cont{position:relative; overflow:hidden; box-sizing: border-box; padding:0 30px 100px 30px; margin:120px 0 0 0;width:100%;}
.history_cont .hi_list_wrap {position:relative; width:100%; height:100%; margin:0 auto; max-width:1170px;}
.history_cont .history_progress {content: '';
    width: 2px;
    height: 100%;
    background: #ece8e4;
    position: absolute;
    left: 50%;
    top: -100%;
    margin-left:-2px;
    transition-duration: 1s;
    z-index:1;}
.history_cont h3.h3_tit {position:absolute; left:50%; top:-8px; font-size:24px; margin-left:-240px; font-weight:normal; line-height:160%;}

.hi_list_wrap ul {margin:-10px auto 0 auto;}
.hi_list_wrap ul > li.ht_list {height:100%; position:relative;}
.hi_list_wrap ul > li.ht_list:first-child {padding-top:0;}

.hi_list_wrap ul > li.ht_list.left {padding-right:616px;
    text-align: right;}
.hi_list_wrap ul > li.ht_list.right {padding-left:615px;
    text-align: left;}

.hi_list_wrap ul > li.ht_list.first {text-align:center;}
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap {width:100%; margin-top:100px; padding-top:60px; border-top:2px solid #ece8e4;}
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap h4 {position:relative; padding-bottom:10px;}
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap h4:before {content: '';position:absolute; left:50%; top:-75px;  width:30px; height:30px; background: url(../images/hansot/icon_bul_03.png) left top no-repeat; background-size: 30px 30px; display:inline-block; margin:0 0 0 -15px; z-index:3;}
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap > ul > li {padding-top:10px;}
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap > ul > li,
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap > ul > li:first-child {margin-top:0;}
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap > ul > li span {font-size:28px; padding-right:5px;}
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap > ul > li p.hi_tit {font-size:24px; font-weight:800;}
.hi_list_wrap ul > li.ht_list.first > div.ht_wrap > ul > li p.hi_block {display:block; padding-top:15px; color:#909090;}


.hi_list_wrap ul > li.ht_list div.ht_wrap{opacity: 0; transition-duration: 1s; padding-top:100px;}
.hi_list_wrap ul > li.ht_list:first-child div.ht_wrap {padding-top:0;}
.hi_list_wrap ul > li.ht_list div.ht_wrap h4 {position:relative; font-family: Roboto; font-size:50px; font-weight:normal; color:#cfc6bc;}
.hi_list_wrap ul > li.ht_list div.ht_wrap h4:first-child {padding-top:0;}
.hi_list_wrap ul > li.ht_list:first-child div.ht_wrap h4:after {content: ''; top:10px !important;}
.hi_list_wrap ul > li.ht_list.left div.ht_wrap h4:after {content: ""; position: absolute; top: 22px; right: 0; width: 16px; height:16px; background: url(../images/hansot/icon_bul_01.png) left top no-repeat; background-size: 16px 16px; z-index:7;}
.hi_list_wrap ul > li.ht_list.right div.ht_wrap h4:after {content: ""; position: absolute; top: 22px; left: 0; width: 16px; height:16px; background: url(../images/hansot/icon_bul_01.png) left top no-repeat; background-size: 16px 16px; z-index:7;}
.hi_list_wrap ul > li.ht_list.left div.ht_wrap h4:after {content: ''; right:-68px;}
.hi_list_wrap ul > li.ht_list.right div.ht_wrap h4:after {content: ''; left:-68px;}

.hi_list_wrap ul > li.ht_list div.ht_wrap span {color:#f2c000; font-family: Roboto; font-weight:100; font-size:24px; padding-right:18px; display:inline-block; vertical-align: middle;}
.hi_list_wrap ul > li.ht_list.right div.ht_wrap span {padding-right:15px;}
.hi_list_wrap ul > li.ht_list.left div.ht_wrap span {padding-right:0; padding-left:15px; font-family: 'NotoSans'}

.hi_list_wrap ul > li.ht_list div.ht_wrap p {position:relative; color:#373737; display:inline-block; vertical-align: middle;}
.hi_list_wrap ul > li.ht_list div.ht_wrap li.line p {width:80%; vertical-align: top;}
.hi_list_wrap ul > li.ht_list div.ht_wrap li.line p span.s_block {font-size:15px; color:#373737; font-family: 'NotoSans'}

.hi_list_wrap ul > li.ht_list > div.ht_wrap {display:inline-block; position:relative; z-index:8;}
.hi_list_wrap ul > li.ht_list > div.ht_wrap > ul > li {margin-top:54px; position:relative;}
.hi_list_wrap ul > li.ht_list > div.ht_wrap > ul > li:first-child {margin-top:55px;}
.hi_list_wrap ul > li.ht_list.left > div.ht_wrap > ul li:after {content: ''; width:10px; height:10px; position:absolute; right:0; top:8px; background: url(../images/hansot/icon_bul_02.png) left top no-repeat; background-size: 10px 10px; display:inline-block; transition-duration: 0.5s; z-index: 7;}
.hi_list_wrap ul > li.ht_list.right > div.ht_wrap > ul li:before {content: ''; width:10px; height:10px; position:absolute; left:0; top:5px;background: url(../images/hansot/icon_bul_02.png) left top no-repeat; background-size: 10px 10px; display:inline-block; transition-duration: 0.5s; z-index: 7;}
.hi_list_wrap ul > li.ht_list.left > div.ht_wrap > ul li:after {content: ''; right:-65px;}
.hi_list_wrap ul > li.ht_list.right > div.ht_wrap > ul li:before {content: ''; left:-66px;}

/*연혁>라인 활성화*/
.hi_list_wrap ul > li.ht_list.on > h4:after{content: ''; width: 18px;}
.hi_list_wrap ul > li.ht_list.on div.ht_wrap {opacity: 1;}
.hi_list_wrap ul > li.ht_list.on div.ht_wrap h4:after {content: ''; width:16px; z-index:5;}

/*사회공헌활동*/
/*.detail_wrap {margin:78px 0 0 0; padding-bottom:60px;}
.detail_wrap .social_detail .so_cont {position:relative; width:100%; margin-top:58px;}
.detail_wrap .social_detail .so_cont.so_01 {margin-top:0;}
.detail_wrap .social_detail .so_cont h3.h3_tit {position:relative;}
.detail_wrap .social_detail .so_cont h3.h3_tit:after {content: 
''; width:40px; height:4px; background-color: #373737; display:block; margin:20px 0 40px 0;}
.detail_wrap .social_detail .so_cont ul {margin-left:-23px;}
.detail_wrap .social_detail .so_cont ul li {position:relative; display:inline-block; width:370px; margin: 0 0 20px 23px; padding:30px 10px; text-align:center; background-color: #fff; height:110px; box-sizing: border-box; vertical-align: top;}
.detail_wrap .social_detail .so_cont ul li:after {content: ''; position:absolute; right:0; bottom:0; width:20px; height:20px; background: url(../images/hansot/bg_social_list.jpg) left top no-repeat; background-size: 20px 20px; display:inline-block;}
.detail_wrap .social_detail .so_cont ul li p.tit {color:#bcafa1; font-weight:bold;}
.detail_wrap .social_detail .so_cont ul li p.txt {padding-top:10px;}*/

/*한솥의 비전*/
.vision {position:relative;}
.vision h2.h2_tit {position:relative; font-weight:800;}
.vision h2.h2_tit:after {content: ''; display:block; width:40px; height:4px; background-color: #373737; margin:40px 0 70px 0;}

.vision_visual {overflow: hidden; position: relative; height: 750px; width: 100%; z-index: 1; background-color: #fff;}
.vision_visual .visual_bg {background: url(../images/hansot/vision_visual_01.jpg) 50% 50% no-repeat; background-size: cover; height: 750px;}
.vision .vi_wrap {position:relative; width:100%;}
.vision .vi_wrap .bs_cont {max-width:1170px; margin:0 auto; width:100%;}

.vision .vi_wrap.section_02,
.vision .vi_wrap.section_03 {background-color:#373737;}

/*한솥의 비전 > section01*/
#container.sub_page.bg {background: #fff;}
.vision .section_01 {background-color: #e2ddd7; padding:80px 0; height:420px; box-sizing: border-box;}
.vision .section_01 .bs_cont {display:table; width:100%; box-sizing: border-box;}
.vision .section_01 h2.h2_tit {font-weight:normal; width:570px; font-size:46px; line-height:150%;}
.vision .section_01 h2.h2_tit:after {display:none;}
.vision .section_01 h2.h2_tit, .section_01 .bs_txt {display:table-cell; vertical-align: top;}
.vision .section_01 .bs_cont .bs_txt {width:600px;}
.vision .section_01 .bs_cont .bs_txt p {margin-top:17px; line-height:27px; font-size:17px;}
.vision .section_01 .bs_cont .bs_txt p:first-child {margin-top:0;}

/*한솥의 비전 > section02*/
.vision .bs_cont {position:relative; display:table;}
.vision .section_02 .bs_txt_wrap .hmr_txt ,
.vision .section_02 .bs_txt_wrap .bg_hmr {display:table-cell; width:50%; vertical-align: top;}
.vision .section_02 .bs_txt_wrap .hmr_txt {position:relative; color:#909090; margin-left:15px; padding-top:33px;}
/*.vision .section_02 .bs_txt_wrap .hmr_txt:before {content: '*'; display:inline-block; color:#909090; position:absolute; left:0; top:36px; margin-left:-15px;}*/
.vision .section_02 .bs_txt_wrap .hmr_txt span.s_block {display:inline;}
.vision .section_02 .bs_txt_wrap .bg_hmr {position:relative; text-align:right;}
.vision .section_02 .bs_txt_wrap .bg_hmr:before {content: ''; width:580px; height:315px; background: url(../images/hansot/bg_vision.png) left top no-repeat; display:inline-block; margin-top:-160px;}
.vision .section_02 .bs_txt_wrap .bg_hmr p {position:absolute; left:19%; top:-42px; font-size:24px; font-weight:bold; line-height:160%; text-align:center;}
.vision .section_02 .bs_txt_wrap .bg_hmr p span {display:block;}
.vision .section_02 .bs_txt_wrap .bg_hmr p.step_02 {left:65%; color:#fff;}

.vision .section_03 {position:relative; padding:10px 0 130px 0;}
.vision .section_03 h2.h2_tit {color:#fff;}
.vision .section_03 h2.h2_tit:after {    color: #fff;
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin: 40px 0 70px 0;}
.vision .section_03 .bs_list ul {overflow: hidden; counter-reset: promise_list; margin-left:-30px;}
.vision .section_03 .bs_list ul li {position: relative; float:left; width:210px; height:175px;display:block; margin-left:30px; padding:43px 0 0 30px; background-color: #fff; box-sizing: border-box; font-size:17px;}
.vision .section_03 .bs_list ul li:before {content: ""counter(promise_list); counter-increment: promise_list; font-family: Roboto; font-size: 36px; /*font-weight:bold;*/ color: #c3c1c1; display:block; padding-bottom:16px;}
.vision .section_03 .bs_list ul li:after {content: ''; width:20px; height:20px; position:absolute; right:0; bottom:0; background: url(../images/hansot/bg_vision_list.png) left top no-repeat; display:inline-block; }
.vision .section_03 .bs_list ul li span {font-size:18px; line-height:150%;}

.vision .section_04 {position:relative; margin-top:130px;}
.vision .section_04 .bs_cont {position:relative; width:100%; display:table;}
.vision .section_04 .bs_cont h2.h2_tit:after {content: ''; margin:40px 0 20px 0;}
.vision .section_04 .bs_cont .mat_img,
.vision .section_04 .bs_cont .mat_txt_wrap {position:relative; display:table-cell; vertical-align: top;}
.vision .section_04 .bs_cont .mat_txt_wrap:before {content: ''; position:absolute; top:0; left:70px; width:500px; height:15px; background-color: #373737; display:block;}
.vision .section_04 .bs_cont .mat_img {width:650px;}
.vision .section_04 .bs_cont .mat_img img {max-width:100%; width:100%; height:auto;}
.vision .section_04 .bs_cont .mat_txt_wrap {padding:123px 0 0 70px; width:570px; box-sizing: border-box;}
.vision .section_04 .bs_cont .mat_txt_wrap .bs_list p {padding-top:30px; line-height:27px; font-size:17px;}
.vision .section_04 .bs_cont .mat_txt_wrap .bs_list p:first-child {padding-top:0;}

.vision .btn_wrap .btn.btn_st04 {width: 170px; margin: 0; position: absolute; bottom: 0;}


@media all and (max-width:1190px){
    /*수상*/
    .award_list_wrap {max-width:800px; margin:40px auto 0 auto; width:100%;}

    /*연혁*/
    .history_cont {padding:0 0 100px 0;}
    .history_cont .hi_list_wrap {max-width:1010px;}
    .hi_list_wrap ul > li.ht_list.right {padding-left:560px;}
    .hi_list_wrap ul > li.ht_list.left {padding-right:560px;}
    .hi_list_wrap ul > li.ht_list.right div.ht_wrap h4:after {left:-64px;}
    .hi_list_wrap ul > li.ht_list.left div.ht_wrap h4:after {right:-64px;}
    .hi_list_wrap ul > li.ht_list.right > div.ht_wrap > ul li:before {left:-62px;}
    .hi_list_wrap ul > li.ht_list.left > div.ht_wrap > ul li:after {right:-62px;}


    /*한솥의 비전*/
    .vision .bs_cont {display:block;}
    .vision h2.h2_tit:after {content: ''; margin: 40px 0 20px 0;}

    .hansot .vision .section_01 .menu_tit {padding-bottom:8px; width:100%;}

    .vision .section_01 {padding:50px 15px; height:auto; min-height:440px;}
    .vision .section_01 .bs_cont {display:block;}
    .vision .section_01 h2.h2_tit {font-size:30px; line-height:120%;}
    .vision .section_01 h2.h2_tit, .section_01 .bs_txt {display:block;}
    .vision .section_01 .bs_cont .bs_txt {padding-top:17px; width:100%;}
    .vision .section_01 .bs_cont .bs_txt p span.s_block {display:inline;}

    .vision .section_02 .bs_cont {box-sizing: border-box; padding:0 15px; }
    .vision .section_02 .bs_txt_wrap .hmr_txt {height:auto; position: absolute; left:15px; top:-180%; padding-bottom:10px;}
    .vision .section_02 .bs_txt_wrap .hmr_txt span.s_block {display:block;}
    .vision .section_02 .bs_txt_wrap .hmr_txt, .vision .section_02 .bs_txt_wrap .bg_hmr {width:auto; padding-right:15px; box-sizing: border-box;}
    /*.vision .section_02 .bs_txt_wrap .hmr_txt{position:absolute; top:-120%; left:0;}*/
    .vision .section_02 .bs_txt_wrap .bg_hmr {width:290px; height:104px; position:relative; text-align:center; margin:0 auto 0 auto; display:block;}
    .vision .section_02 .bs_txt_wrap .bg_hmr:before {content: ''; margin-top:-90px; display:inline-block; width:290px; height:159px; background-size: 100%; position:absolute; left:0;}
    .vision .section_02 .bs_txt_wrap .bg_hmr p {top:0px; left:15%; line-height:115%; margin-top:-35px;}
    .vision .section_02 .bs_txt_wrap .bg_hmr p.step_02 {left:63%;}
    .vision .section_02 .bs_txt_wrap .bg_hmr p.step_01,
    .vision .section_02 .bs_txt_wrap .bg_hmr p.step_02 {font-size:18px; line-height:150%;}

    .vision .section_03 .bs_list ul {margin-left:-10px;}
    .vision .section_03 .bs_list ul li {margin-left:10px; width:188px; padding:33px 0 0 20px;}
    .vision .section_03 h2.h2_tit:after {margin:40px 0 20px 0;}

    .vision .section_04 .bs_cont .mat_img {width:470px;}
    .vision .section_04 .bs_cont .mat_txt_wrap {padding:33px 0 0 30px;}
    .vision .section_04 .bs_cont .mat_txt_wrap:before {content: ''; left:30px;}
}


@media all and (max-width:1180px){
    /*news*/
    .news_list_wrap ul li div.news_list > div.news_visual {width:46%;}
    .news_list_wrap ul li div.news_list > div.news_txt {width:54%;}
    /*오시는길*/
    .traffic_wrap .map_info_wrap .map_tit_wrap {width:25%;}
    .traffic_wrap .map_info_wrap .map_tr_wrap {width:75%;}

    /*한솥의 약속*/
    .promise .section_02 .bs_txt_wrap {max-width:768px; width:100%; margin:0 auto;}
    .promise .section_02 .bs_txt ul li {width:100%;}
    .promise .section_02 .bs_txt ul li:nth-child(odd) {margin-right: 0;}
    .promise .section_02 .bs_txt ul li.pr_list02 {margin-top:30px;}

    /*수상*/
    .award_list_wrap ul li:nth-child(1),
    .award_list_wrap ul li:nth-child(2),
    .award_list_wrap ul li:nth-child(3) {margin-top: 30px;}
}


@media all and (max-width:1160px){
    /*한솥의 약속, 비전*/
    .hansot .menu_tit {padding-bottom:8px; width:768px;}
    /*한솥의 약속*/
    .promise h2.h2_tit + div.bs_txt p span.s_block {display:inline;}

    #container.sub_page.bg {background: #eeecec;}
    .promise .bs_wrap .bs_cont {max-width:768px;}
    .promise .section_01 {height:auto; min-height:330px; padding:50px 15px;}
    .promise .section_01 .bs_cont {display:block;}
    .promise .section_01 h2.h2_tit,
    .promise .section_01 .bs_txt {display:block;}
    .promise .section_01 h2.h2_tit {font-size:30px; width:100%;}
    .promise .section_01 .bs_cont .bs_txt  {padding-top:20px; width:100%;}
    .promise .section_02 {background-color: #fff;}
    .promise .section_02 .bs_txt_wrap h3.h3_tit {padding-bottom:20px;}

    /*한솥의 비전*/
    .vision {background-color: #fff; padding-bottom:50px;}

}

@media all and (max-width:1023px){
    /*검색*/
    .news_wrap dl.no_form {padding:20px 15px;}
    dl.no_form dt {display:block;}
    dl.no_form dd {display:none;}
    dl.no_form dd.no_total {display:block; float:none; text-align:right; padding-top:13px;}
    dl.no_form dt div.in_box a.se_box {padding:0 10px 0 13px; display:block;}
    dl.no_form dt div.in_box a.se_box:after {content: ''; width:20px; height:20px; background: url(../images/common/icon_searchbox.png) left top no-repeat; background-size: 21px 21px; display:block; position:absolute; left:10px; top:-1px; margin-right:12px;}

    .news_list_wrap ul li div.news_list {height:180px;}
    .news_list_wrap ul li div.news_list > div.news_txt {height: 180px;
        padding: 25px 20px 20px 20px;}
    .news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit {max-height:22px;}
    .news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit a {min-height:22px;}
    .news_list_wrap ul li div.news_list > div.news_txt .story_txt {margin-top:0; max-height:46px; margin-top:5px;}
    .news_list_wrap ul li div.news_list > div.news_txt .story_txt span {min-height:46px;}
    .news_list_wrap ul li div.news_list > div.news_txt .date {margin-top:5px;}

    /*사회공헌활동*/
    .detail_wrap .so_sub_tit {padding:0 15px; margin-top:40px; box-sizing: border-box; word-break: keep-all;}
    .detail_wrap .so_sub_tit p span.s_block {line-height:25px;}

    .detail_wrap .news_list_wrap {margin-top:40px;}
    .detail_wrap .news_list_wrap .list_box {margin-top:57px;}
    .detail_wrap .news_list_wrap .list_box p.list_title {font-size:18px; margin-bottom:20px; margin-left:10px;}
    .detail_wrap .news_list_wrap .list_box p.list_title:before {content: ''; position:absolute; left:0; top:0; display:inline-block; width:4px; height:18px; background-color: #373737; margin:3px 0 -0 -10px;}

    .detail_wrap .news_list_wrap ul li div.news_list {height:auto;}
    .detail_wrap .news_list_wrap ul li div.news_list > div {display:inline-block; float:none; vertical-align: middle;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_visual {height:auto;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt {width:380px; height:auto; box-sizing: border-box; border-left:0; padding:0 0 0 10px;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt .story_txt {max-height:100%;}


    /*오시는길*/
    .location .tab_cont {margin-top:1px;}
    .traffic_wrap .map_info_wrap .map_tit_wrap,
    .traffic_wrap .map_info_wrap .map_tr_wrap {display:block; width:100%;}
    .traffic_wrap .map_info_wrap {padding:33px 15px 50px 15px;}
    .traffic_wrap .map_info_wrap .map_tit_wrap .map_address {margin-top:15px;}
    .traffic_wrap .map_info_wrap .map_tr_wrap {margin-top:72px;}
    .map_tr_wrap .tr_sub, .map_tr_wrap .tr_bus {margin-left:60px;}
    .map_tr_wrap .tr_sub:before, .map_tr_wrap .tr_bus:before {content: ''; width:45px; height:45px; background-size: 90px 45px; margin-left:-60px;}
    .map_tr_wrap .tr_bus:before {content: ''; background-position: -45px 0;}
    .map_tr_wrap .tr_bus {margin-top:35px;}
    .map_tr_wrap dl {padding-top:4px;}
    .map_tr_wrap dt, .map_tr_wrap dd {padding:5px 0 0 0; float:none;}
    .map_tr_wrap dd {padding-bottom:10px}
    .map_tr_wrap dd span.s_block {display:inline;}

    /*한솥의 약속, 비전*/
    .hansot .menu_tit {padding-bottom:8px; width:100%; max-width:100%; font-size:18px;}

    /*한솥의 약속*/
    .promise .bs_wrap .bs_cont {max-width:100%; width:100%;}
    .promise .section_01 .bs_cont .bs_txt {word-break: inherit;}
    .promise .section_01 .bs_cont .bs_txt p,
    .promise .section_02 .bs_txt ul li > p {font-size:15px; line-height:25px; word-break: inherit;}
    .promise .section_02 .bs_txt ul li h4 {font-size:18px; line-height:28px; padding-left:90px;}
    .promise .section_02 .bs_txt ul li h4 span.s_block {display:block;}
    .promise .section_02 {padding:0 15px; box-sizing: border-box;}
    .promise .section_02 .bs_txt_wrap {padding:60px 0 60px 0;}
    .promise .section_02 .bs_txt_wrap h3.h3_tit {width:100%; font-size:28px;}
    .promise .section_02 .bs_txt_wrap .bs_txt h4.fz_03 {font-size:18px;}
    .promise .section_02 .bs_txt ul li {width:100%; height:auto; padding:20px; margin-top:10px;}
    .promise .section_02 .bs_txt ul li.pr_list02 {margin-top:10px;}
    .promise .section_02 .bs_txt ul li:before {content: ''; width:70px; height:70px; background-size: 350px 70px; position:absolute; left:20px; top:20px;}
    .promise .section_02 .bs_txt ul li.pr_list02:before {background-position:-70px 0;}
    .promise .section_02 .bs_txt ul li.pr_list03:before {background-position:-140px 0;}
    .promise .section_02 .bs_txt ul li.pr_list04:before {background-position:-210px 0;}
    .promise .section_02 .bs_txt ul li.pr_list05:before {background-position:-280px 0;}
    .promise .section_02 .bs_txt ul li > p {padding-top:25px;}


    /*수상*/
    .award_list_wrap {max-width:370px; padding:0 15px; box-sizing: border-box;}
    .award_list_wrap .year_wrap.y_2016 {margin-top:26px;}
    .award_list_wrap .year_wrap h3.h3_tit:before {height:18px; margin: 0 10px -2px 0;}
    .award_list_wrap ul {margin:20px 0 0 0;}
    .award_list_wrap ul li {width:100%; margin:0; box-sizing: border-box; height:332px;}
    .award_list_wrap ul li:nth-child(1),
    .award_list_wrap ul li:nth-child(2),
    .award_list_wrap ul li:nth-child(3) {margin-top: 0px;}

    .award_list_wrap .year_wrap ul li.award_01 div:before {content: ''; width:80px; height:80px; background-size: 80px 80px;}
    .award_list_wrap .year_wrap ul li.award_02 div:before {content: ''; width:60px; height:80px; background-size: 60px 80px;}
    .award_list_wrap .year_wrap ul li.award_03 div:before {content: ''; width:83px; height:80px; background-size: 83px 80px;}
    .award_list_wrap .year_wrap ul li.award_04 div:before {content: ''; width:90px; height:80px; background-size: 90px 80px;}
    .award_list_wrap .year_wrap ul li.award_05 div:before {content: ''; width:76px; height:80px; background-size: 76px 80px;}
    .award_list_wrap .year_wrap ul li.award_06 div:before {content: ''; width:80px; height:80px; background-size: 80px 80px;}
    .award_list_wrap .year_wrap ul li.award_07 div:before {content: ''; width:86px; height:60px; background-size: 86px 60px;}
    .award_list_wrap .year_wrap ul li.award_08 div:before {content: ''; width:116px; height:70px; background-size: 116px 70px;}
    .award_list_wrap .year_wrap ul li.award_09 div:before {content: ''; width:90px; height:60px; background-size: 90px 60px;}

    /*수상_2016*/
    .award_list_wrap .year_wrap.y_2016 ul li.award_01 div:before {content: ''; width:80px; height:80px; background-size: 80px 80px;}
    .award_list_wrap .year_wrap.y_2016 ul li.award_02 div:before {content: ''; width:60px; height:80px; background-size: 60px 80px;}
    .award_list_wrap .year_wrap.y_2016 ul li.award_04 div:before {content: ''; width:90px; height:80px; background-size: 90px 80px;}
    .award_list_wrap .year_wrap.y_2016 ul li.award_05 div:before {content: ''; width:76px; height:80px; background-size: 76px 80px;}
    .award_list_wrap .year_wrap.y_2016 ul li.award_06 div:before {content: ''; width:80px; height:80px; background-size: 80px 80px;}



    /*연혁*/
    .history_cont {margin:40px auto 0 auto; padding:0 15px 60px 15px; box-sizing: border-box;}
    .history_cont h3.h3_tit {position:relative; left:0; top:0; padding:0 0 40px 0; margin:0 0 0 -1px; background-color: #fff; z-index:3;}
    .history_cont .hi_list_wrap {padding-left:15px; box-sizing: border-box;}
    .hi_list_wrap ul > li.ht_list.left {padding-left:0; padding-right:0; text-align:left;}
    .hi_list_wrap ul > li.ht_list.right {padding-left:0;}
    .hi_list_wrap ul > li.ht_list.first {margin-left:-5px; width:90%; padding-left:21px; box-sizing: border-box;}
    .hi_list_wrap ul > li.on.ht_list.first:before {content: ''; position:absolute; left:0px; top:81px; background: url(../images/hansot/bg_history.png) left top no-repeat; width:21px; height:21px; display:inline-block; z-index: 9;}
    .hi_list_wrap ul > li.on.ht_list.first:after {content: ''; position:absolute; left:0; top:-5px; width:2px; height:100px; background-color: #ece8e4; display:inline-block; }

    .history_cont .history_progress {left:0; margin:0 0 0 25px;}
    .hi_list_wrap ul > li.ht_list div.ht_wrap {padding-top:90px;}
    .hi_list_wrap ul > li.ht_list div.ht_wrap h4 {font-size:30px; line-height:150%;}
    .hi_list_wrap ul > li.ht_list.left div.ht_wrap p,
    .hi_list_wrap ul > li.ht_list.right div.ht_wrap p {width:90%; /*vertical-align: top;*/ padding-left:42px;}

    .hi_list_wrap ul > li.ht_list.left div.ht_wrap li.line p span.s_block,
    .hi_list_wrap ul > li.ht_list.right div.ht_wrap li.line p span.s_block {position:relative; width:auto;}

    .hi_list_wrap ul > li.ht_list.left div.ht_wrap span,
    .hi_list_wrap ul > li.ht_list.right div.ht_wrap span {position:absolute; left:0; top:2px; padding:0; width:50px;}

    .hi_list_wrap ul > li.ht_list.left div.ht_wrap h4:after,
    .hi_list_wrap ul > li.ht_list.right div.ht_wrap h4:after {display:none;}
    /*.hi_list_wrap ul > li.ht_list.left div.ht_wrap span {position:absolute; left:0; top:2px; padding:0; width:50px;}*/
    .hi_list_wrap ul > li.ht_list.left div.ht_wrap span {padding-left:0;}
    .hi_list_wrap ul > li.ht_list.left div.ht_wrap span:after {content: ''; display:inline-block; margin-right:30px; position:absolute; right:0; top:0;}

    .hi_list_wrap ul > li.ht_list div.ht_wrap {padding-left:30px;}
    .hi_list_wrap ul > li.ht_list.first div.ht_wrap  {padding-left:0;}
    .hi_list_wrap ul > li.ht_list div.ht_wrap h4:before {content: ""; position: absolute; top: 15px; left: -42px; width: 16px; height:16px; background: url(../images/hansot/icon_bul_01.png) left top no-repeat; background-size: 16px 16px; z-index:3;}
    .hi_list_wrap ul li.ht_list#ht_item9 div.ht_wrap h4:before {content: ''; top:11px;}
    .hi_list_wrap ul li:first-child div.ht_wrap h4:before {top:0; margin-top:10px;}
    .hi_list_wrap ul > li.ht_list > div.ht_wrap > ul > li:first-child {margin-top:44px;}
    .hi_list_wrap ul > li.ht_list > div.ht_wrap > ul > li {margin-top:34px;}
    .hi_list_wrap ul > li.ht_list.left > div.ht_wrap > ul li:after {content: ''; right:0 !important; left:-39px;}
    .hi_list_wrap ul > li.ht_list.right > div.ht_wrap > ul li:before {content: ''; left:-39px;}
    .hi_list_wrap ul > li.ht_list.first > div.ht_wrap {padding-top:0;}
    .hi_list_wrap ul > li.ht_list.first > div.ht_wrap h4 {padding-top:30px;}
    .hi_list_wrap ul > li.ht_list.first > div.ht_wrap h4:before {content: ''; top:-15px;}
    .hi_list_wrap ul > li.ht_list.first > div.ht_wrap > ul > li span {font-size:20px;}
    .hi_list_wrap ul > li.ht_list.first > div.ht_wrap > ul > li p.hi_tit {font-size:18px;}

    /*한솥 비전*/
    .vision {padding-bottom:40px;}
    .vision .section_01 .bs_cont .bs_txt p,
    .vision .section_04 .bs_cont .mat_txt_wrap .bs_list p {font-size:15px; line-height:25px;}
    .vision .section_03 {padding:0 15px 60px 15px; box-sizing: border-box; margin-top:-1px;}
    .vision .section_03 .bs_list ul li {padding:30px 0 0 20px; width:100%; margin-top:10px; box-sizing: border-box; display:inline-block; height:80px;}
    .vision .section_03 .bs_list ul li:first-child {margin-top:0;}
    .vision .section_03 .bs_list ul li:before {content: ""counter(promise_list); counter-increment: promise_list; font-family: Roboto; display:inline-block; margin:0 10px 3px 0; padding:0; vertical-align: middle; font-size:28px;}
    .vision .section_03 .bs_list ul li span.s_block {display:inline; font-size:15px;}

    .vision .section_04 {margin:60px 0 0 0; padding:0 15px; box-sizing: border-box;}
    .vision .section_04 .bs_cont .mat_img, .vision .section_04 .bs_cont .mat_txt_wrap {display:block; width:100%;}
    .vision .section_04 .bs_cont .mat_img {padding-top:40px; border-top:15px solid #373737;}
    .vision .section_04 .bs_cont .mat_txt_wrap {padding:40px 0 60px;}
    .vision .section_04 .bs_cont .mat_txt_wrap:before {display:none;}
    .vision .section_04 .bs_cont .mat_txt_wrap span.s_block {display:inline;}


}

@media all and (max-width:768px){
    /*한솥의 약속*/
    .promise_visual {height:380px;}
    .promise_visual .visual_bg {background: url(../images/hansot/promise_m_visual_01.jpg) 50% 50% no-repeat; height: 380px; background-size: cover;}

    /*수상*/
    .award_list_wrap {max-width:370px;}
    .award_list_wrap .year_wrap h3.h3_tit {width:290px; margin:0 auto;}
    .award_list_wrap ul {width:290px; margin:20px auto 0 auto;}
    .award_list_wrap ul li {width:290px; margin:0 0 20px 0; height:260px; box-sizing: border-box; background: url(../images/hansot/bg_award_list.png) 100% 100% no-repeat; background-size:290px 260px;}

    /*한솥 비전*/
    .vision_visual {height:380px;}
    .vision_visual .visual_bg {background: url(../images/hansot/vision_m_visual_01.jpg) 50% 50% no-repeat; background-size: cover; height: 380px;}

    /*사회공헌활동*/
    .detail_wrap .news_list_wrap ul li div.news_list > div {display:block;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_visual {margin:0 auto; padding-top:20px;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt {width:100%; border-left:0; padding:20px;}


}

@media all and (max-width:640px){
    /*news*/
    .news_list_wrap.mo_version {max-width: 370px;}
    .news_list_wrap ul li {padding:0 15px; box-sizing: border-box;}
    .news_list_wrap ul li div.news_list {height:360px;}
    .news_list_wrap ul li div.news_list > div.news_visual,
    .news_list_wrap ul li div.news_list > div.news_txt {width:100%; float:none;}
    .news_list_wrap ul li div.news_list > div.news_visual {height:180px; overflow:hidden;}
    .news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit {max-height:72px;}
    .news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit a {min-height:72px; line-height:140%;}
    .news_list_wrap ul li div.news_list > div.news_txt .story_txt {display:none;}
    .news_list_wrap ul li div.news_list > div.news_txt .date {margin-top:20px;}
    .content.hansot .btn_wrap {margin-top:47px;}
    .content.hansot .btn_wrap.btn_more .btn.btn_st04 {width:190px;}

    /*사회공헌활동*/
    .detail_wrap .news_list_wrap {width:290px; margin:40px auto 0 auto;}
    .detail_wrap .news_list_wrap ul li {padding:0;}
    .detail_wrap .news_list_wrap ul li div.news_list {height:auto; width:290px; margin:0 auto; border-bottom:4px solid #373737;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_visual {width:290px; height:180px; margin:0 auto; border-bottom:1px solid #eeecec; padding:0;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt h3.h3_tit {max-height:50px; word-break: keep-all; margin-bottom:6px;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt {width:100%; height:auto; box-sizing: border-box; padding:20px 10px 15px 10px;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt .story_txt {max-height:100%;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap a {position:relative; display:block; text-align:right; color:#909090; padding-right:15px;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap a:after {content: '';  width:10px; height:6px; background: url(../images/hansot/icon_social.png) left top no-repeat; background-size: 10px 6px; margin:0 0 3px 10px; display:inline-block;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap a.so_close_btn:after {-webkit-transform: rotate(180deg);
        transform: rotate(180deg);}

    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap .so_txt_cont {display:none;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt.on {height:auto;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt .story_txt {display:block;}

    .detail_wrap .news_list_wrap ul li div.news_list.on {border-bottom: 4px solid #f2c000;}
    .detail_wrap .news_list_wrap ul li div.news_list.on > div.news_txt > div.so_txt_wrap a.so_open_btn {display:none;}
    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap a.so_open_btn {display:block;}
    /*    .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap.on .so_txt_cont {display:block;}
        .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap .so_txt_cont.on{display:none !important;}*/


    /* .detail_wrap .news_list_wrap ul li div.news_list > div.news_txt > div.so_txt_wrap.on .so_txt_cont {display:block;}*/



    /*오시는길*/
    .location .tab_st01 .tab_wrap ul.tab_menu {width:185%;}

}

@media all and (max-width:414px){

    /*한솥의 약속*/
    .promise div.bs_txt p span.s_block {display:inline;}

    /*오시는길*/
    .location .tab_st01 .tab_wrap {width:100%; overflow-x: scroll; height:43px;}

}


@media all and (max-width:380px){
    /*오시는길*/
    .location .tab_st01 .tab_wrap {left:0; width:100%;}
    .location .tab_st01 .tab_wrap ul.tab_menu li {padding-left:25px;}
    .location .tab_st01 .tab_wrap ul.tab_menu li:first-child {padding-left:0;}

}



@media all and (max-width:320px){

    .vision .section_02 .bs_txt_wrap .hmr_txt span.s_block {display:inline;}

}



